body {
    width: 100%;
}

.top-menu {
    background: #42ad72;
    width: 100%;
    text-align: left;
    font-size: 22px;
    line-height: 1px;
    color: white;
    display: inline-block;
}

.top-menu2 {
    display: none
}

.topbox {
    width: 100%;
}

.topbox2 {
    display: none;
}

.main-photo {
    margin-top: -10px;
}

.topbox3 {
    display: block;
}